<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.denoic.reportr">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBiCvSp65nf2XjjOHfBo5kffPRj3i04d94" />
</manifest>
